<%# *layout.erbにはviews各ファイルで共通する部分を入れる。 %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title><%= @title %></title>
</head>
<body>
  <h2>メモアプリ</h2>
  <%= yield %>
</body>
</html>