<form method="post" action="/notes">
	<p>タイトル：<br>
	<input type="text" name="note_title"></p>
	<p>内容：<br>
	<textarea name="note_body" cols="30" rows="5"></textarea></p>
	<input type= "submit" value="post!">
</form>