<%= @note["title"] %>
<br>
<%= @note["body"].gsub(/\R/,"<br>") %>

<a href="/notes/<%= @note["id"] %>/edit">変更</a>


<form method="post" action="/notes/<%= @note["id"] %>/delete">
  <input type= "submit" value="削除!">
</form>